<main class="flex-1 p-6">
    <!-- العنوان وشريط البحث -->
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold">إدارة الحسابات</h1>
      <div class="flex justify-between gap-10 space-x-5">
      <div class="flex items-center">
        <input type="text" placeholder="ابحث..." class="border border-gray-300 rounded-l p-2 w-72 focus:outline-none">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-r">🔍</button>
      </div>
      <div class="flex flex-col">
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-user-circle"></i>
        <h3><span class="text-blue-500">اهلا بك </span>احمد محسن</h3>
      </div>
      <h2 class="text-center">ادمن</h2>
    </div>
    <a href=""><i class="fa-solid fa-bell gap-2"></i></a> 
  </div>
    </div>
    <div class="w-full">
      <div class="border-t border-dotted border-blue-500 w-full"></div>
    </div>