


<aside class="w-64 bg-white-300 text-gray flex flex-col p-4 shadow-md">
    <div class="flex justify-between mt-5  items-center">
    <h1 class="text-2xl font-bold text-center">FCIT</h1>
   <a href=""><i class="fa-solid fa-circle-xmark"></i></a> 
  </div>
    <ul class="space-y-4 flex-1 mt-6">
      <li class="flex items-center space-x-2">
        <i class="fa-solid fa-user-circle"></i>
        <a href="#" class="block hover:bg-gray-300 p-2 rounded">إدارة الحسابات</a>
      </li>
      <li class="flex items-center space-x-2">
        <i class="fa-solid fa-building"></i>
        <a href="#" class="block hover:bg-gray-300 p-2 rounded">إدارة الأقسام</a>
      </li>
      <li class="flex items-center space-x-2">
        <i class="fa-solid fa-book"></i>
        <a href="#" class="block hover:bg-gray-300 p-2 rounded">إدارة المقررات</a>
      </li>
      <li class="flex items-center space-x-2">
        <i class="fa-solid fa-door-open"></i>
        <a href="#" class="block hover:bg-gray-300 p-2 rounded">إدارة القاعات</a>
      </li>
      <li class="flex items-center space-x-2">
        <i class="fa-solid fa-calendar-alt"></i>
        <a href="#" class="block hover:bg-gray-300 p-2 rounded">إدارة الجدول الزمني</a>
      </li>
      <li class="flex items-center space-x-2">
        <i class="fa-solid fa-cogs"></i>
        <a href="#" class="block hover:bg-gray-300 p-2 rounded">الإدارة الأكاديمية</a>
      </li>
     
      
    </ul>
    <div class="pb-4">
    <li class="flex items-center space-x-2">
      <i class="fa-solid fa-sliders"></i>
      <a href="#" class="block hover:bg-blue-700 p-2 rounded">الإعدادات</a>
    </li>
    <li class="flex items-center space-x-2">
      <i class="fa-solid fa-sign-out-alt"></i>
      <a href="#" class="block hover:bg-blue-700 p-2 rounded">تسجيل الخروج</a>
    </li>
  </div>

  </aside>
